<!DOCTYPE html>
<html>
<head>
  <title>JSON Data Example</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-4">
    {{{ body }}}
  </div>
</body>
</html>
<h1>JSON Data Example</h1>
<hr>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Property</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    {{#each jsonData}}
      <tr>
        <td>{{@key}}</td>
        <td>{{this}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
